@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #0a0a0a;
  overflow-x: hidden;
  color: white;
}

canvas {
  position: fixed;
  inset: 0;
  z-index: 0;
}

section {
  position: relative;
  z-index: 1;
}

.neon-text {
  text-shadow:
    0 0 8px #a855f7,
    0 0 16px #22d3ee;
}
